<body>
    <h1>Customers</h1>
    <p>List of customers will be displayed here.</p>
    <div class="gridlist" id="customerTable"></div>
    <button id="refreshButton">Refresh</button>
    <button id="importButton">Import</button>
    <button id="exportButton">Export</button>
</body>